@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

header {
  width: 100%;
  background-color: rgb(255, 196, 223);
}
header .logo {
  width: 15%;
  float: left;
  border-radius: 60px;
}
header .nav-link {
  text-align: right;
}
header .nav-link:hover {
  color: #fff;
  border: #fff, 2px solid;
  border-radius: 15%;
}
header .nav-item {
  margin-right: 20px;
}
header .container-fluid {
  text-align: justify;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

.header img {
  height: auto; /* Para mantener la proporción */
  width: 250px;
  display: inline-block;
  position: center;
  border-radius: 20%;
  margin: 10px;
  padding: 10px;
}
.header h1 {
  margin-top: 15px; /* Espacio entre la imagen y el título */
  margin-left: auto;
  font-size: 60px;
  font-family: "Merriweather", serif;
  margin: 20px;
  padding: 20px;
}
.header h1 .subrayado {
  text-decoration: underline;
  text-decoration-color: pink;
}

aside .sobremi {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgba(245, 78, 175, 0.397);
  width: 70%;
}
aside .sobremi h2 {
  font-size: 30px;
  margin-bottom: 10px;
  padding: 10px;
  margin: 10px;
  color: rgb(255, 136, 156);
  font-family: "Merriweather", serif;
  text-align: center;
}
aside .sobremi p {
  line-height: 1.5;
  color: #000;
  padding: 20px;
  margin: 20px;
  font-family: "Philosopher", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 130%;
}
aside .sobremi p + p {
  margin-top: 20px;
}
aside section h2 {
  font-family: "Merriweather", serif;
  text-align: center;
  padding: 30px;
  margin: 20px;
  font-size: 50px;
}
aside section .row {
  padding: 10px;
  margin: 10px;
}
aside section .row h5 {
  font-family: "Merriweather", serif;
  text-align: center;
  background: rgb(255, 198, 222);
}
aside section .card {
  box-shadow: 0 5px 10px rgb(255, 198, 222);
}

.redes-sociales {
  grid-area: redes-sociales;
}

.form {
  grid-area: form;
}

.img {
  grid-area: img;
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .title {
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  font-size: 2em;
  padding: 10px;
  margin: 10px;
}

.contactUs .h3 {
  color: #ce365c;
  font-weight: 500;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.contact {
  padding: 40px;
  background-color: #ffaadc;
  box-shadow: 0 5px 35px rgba(255, 77, 151, 0.5);
}

.box {
  position: center;
}

.contact h4 {
  color: #333;
  padding: 20px;
  margin: 10px;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.imputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
}

.formBox .row100 .imputBox {
  width: 100%;
}

.imputBox span {
  color: rgb(49, 44, 44);
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.imputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #000;
}

.imputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #000;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.imputBox input[type=submit] {
  background-color: #ff1897;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15x;
}

.imputBox input,
.imputBox textarea,
.imputBox select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffaadc;
  border-radius: 5px;
  font-size: 14px;
}

.imputBox ::placeholder {
  color: #756a6d;
}

.for-contacto {
  font-family: "Merriweather", serif;
}

.info {
  background: #fff;
  margin: 20px;
  padding: 20px;
}

.con-fom {
  font-family: "Merriweather", serif;
  margin: 10px;
  padding: 10px;
}

.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: #fff;
  background-color: #ffd1e8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-right: 15px;
}

.info .infoBox div p {
  color: #333;
}

.info .infoBox div a {
  color: #333;
  text-decoration: none;
}

.sci {
  margin-top: 40px;
  display: flex;
}

.sci li {
  list-style: none;
  margin-right: 15px;
}

.sci li a {
  color: #f59db3;
  font-size: 2em;
  color: #b8b5b5;
}

.sci li a:hover {
  color: #ffc2d9;
}

/*
.conaimg img{
    width: 500px;
    float: center;
    padding: 0px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 35px  $rosatrasparente;

}

@media (max-width: 991px){
    .contactUs{
padding: 20px;
    }
.box{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "form" 
    "info" 
    "img" ;
}
}
@media(max-width: 440PX){
    .contactUs{
        position: relative;
        width: 50%;
        padding: 20px 50px;
    }
.box{
    width: 70%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "form" 
    "info" 
    "img" ;
}
}
*/
/* Estilos generales para el formulario de contacto */
.contact.info {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 20px;
  border: 1px solid #ffbfec;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 5px 35px rgba(255, 77, 151, 0.5);
}

/* Estilos para los íconos de contacto */
.ion-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #007bff; /* Cambia el color según tus preferencias */
}

/* Estilos para los enlaces de correo y teléfono */
.contact.info a {
  text-decoration: none;
  color: #333; /* Cambia el color según tus preferencias */
}

/* Estilos para las redes sociales */
.sci {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.sci a {
  font-size: 24px;
  color: #333; /* Cambia el color según tus preferencias */
}

/* Estilos para la imagen de fondo */
.conaimg img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}

.trabajaconmigo {
  max-width: 400px;
  margin: 0 auto;
}

label, input, textarea {
  display: block;
  margin-bottom: 20px;
  background-color: #ff69b4;
  border-radius: 10px;
  color: #000;
}

.titulo-trabajaconmigo {
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 120px;
  color: #000;
  background-color: rgba(255, 170, 220, 0.431372549);
  border-radius: 30px;
}

.exito h2 {
  font-size: 120px;
  font-family: "Merriweather", serif;
  position: center;
  padding: 10px;
  margin: 10px;
  display: flex;
  box-shadow: rgba(255, 170, 220, 0.431372549);
}

button[type=submit] {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20%;
}

.form-caja {
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-family: "Merriweather", serif;
  box-shadow: rgba(255, 170, 220, 0.431372549);
}

.box-t {
  padding: 10px;
  margin: 10px;
  position: relative;
}

.row50 {
  display: flex;
  gap: 20px;
}

.CAJA-T {
  position: relative;
  width: 100%;
}

.CAJA-T .row-50 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.row100 {
  width: 100%;
}

.CAJA-T textarea {
  padding: 20px;
  position: relative;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #000;
  resize: none;
  height: 200px;
  width: 100%;
  grid-column: 1/-1;
  margin-bottom: 10px;
}

.CAJA-T .botton {
  padding: 10px;
  margin: 10px;
  padding-top: 20px;
}

.Caja-t-c form {
  padding: 20px;
  margin: 20px;
}

.Caja-t-c {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
  margin-bottom: 10px;
}

.trabaja-conmigo-tt {
  padding: 0px;
  margin: 0px;
  background-image: url(../css/Imagenes/ft.png);
}

.card2 {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 5px 10px #ffc6d4;
}

.card-body {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 5px 10px #ffc6d4;
}

.talleres {
  margin: 20px;
  padding: 20px;
}

.card {
  box-shadow: 0 5px 35px rgba(255, 77, 151, 0.5);
}

footer {
  margin-top: 20px;
}
footer .site-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
footer .site-footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .site-footer .footer-content .footer-logo img {
  max-width: 100px;
  border-radius: 100%;
}
footer .site-footer .footer-content .footer-copyright {
  margin-top: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 10;
}
.footer-links li {
  margin: 5px;
  display: inline-block;
  margin-right: 20px;
}
.footer-links .terminos {
  padding: 10px;
  margin: 20px;
}
.footer-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 15px;
}
.footer-links .footer-social a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
