$blanco:#fff;
$rosa:pink;
$rosita: rgb(255, 136, 156);
$rosamuyclarito: rgb(255, 198, 222);

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: sans-serif;
    text-align: center;
  }


.header{
  img {

    height: auto; /* Para mantener la proporción */
    width: 250px;
    display: inline-block;
    position: center;
    border-radius: 20%;
    margin: 10px;
    padding: 10px;
  }
  h1 {
    margin-top: 15px; /* Espacio entre la imagen y el título */
    margin-left: auto;
    font-size: 60px;
   font-family: "Merriweather", serif;
   margin: 20px;
   padding: 20px;
   .subrayado{
    text-decoration: underline;
    text-decoration-color: $rosa;
  } 
  }
} 

