@import"body";
@import"header";
@import"main";
@import"aside";
@import "contacto";
@import "trabajaconmigo";
@import "talleres";
@import "footer";

$blanco:#fff;
$rosa: pink;
$rosaclaro: rgb(255, 196, 223);
$gris:#333;
$blanco:#fff;
$negro:#000;
$rosatrasparente:#ffaadc6e;
$fuccia: #ff69b4;
$grisclaro:#ccc;
 $rosapastel: #ffc6d4;